# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
**/android/.gradle/
**/android/local.properties
*.jks
*.keystore
key.properties

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
